.logo {
  background:transparent url('images/ucsantacruz-qa.svg') no-repeat center bottom;
  background-size: 405px 80px;
  display:block;
  height: 85px;
  margin: 1em auto;
  width: 340px;

  &:focus,
  &:hover,
  &:active {
    background-color:transparent;
  }

  @media only screen and (min-width : $bp-sm) {
    background-size: 405px 80px;
    float: right;
    height: 82px;  
    margin: 0;
    width: 340px;
  }

}