.logo {
  display:block;
  width:340px;
  height:85px;
  background:transparent url('images/ucsantacruz-qa.svg') no-repeat center bottom;
  background-size:430px 85px;
  margin: 1em auto;

  &:focus,
  &:hover,
  &:active {
    background-color:transparent;
  }

  @media only screen and (min-width : $bp-sm) {
    float:right;
    margin:0;
    width:340px;
    height:82px;  
    background-size: 405px 80px;
  }

}